body {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: relative;
    padding: 20px;
    
}
button {
    color: purple;
    background: black;
    cursor: pointer;
}